.main-header {
  background-color: #373C3F;
}
.navbar {

}
.header-image-block {
  background-image: url("//img/header-fon@1X.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 173px;
}
.header-grey {
  text-align: left;
  padding: 12px 86px 12px 19px;
}