// @import "../../node_modules/bootstrap/dist/css/bootstrap.css";
$primary: #ACD8AD;
$secondary: #FFFFFF;
$additional: #3F4043;

* {
  box-sizing: border-box; //Для большей простоты масштабирования в CSS мы изменяем глобальное значение box-sizing с
  // content-box на border-box. Это гарантирует, что padding не будет влиять на конечную вычисленную ширину элемента
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
// Mobile
@media (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}
.container {
  max-width:640px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.section1 {
  background: url("//img/Pizza delivery fon@1X.png") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 251px;
  height: 76px;
}
.section2 {
  background: url("//UA_UX Salads fon@1X.png");
  background-attachment: fixed;
  background-size: cover;
  width: 251px;
  height: 76px;
}
.section3 {
  background-image: url("//Desserts fon@1X.png");
  background-attachment: fixed;
  background-size: cover;
  width: 251px;
  height: 76px;
}
.p {
  font-size: 20px;
  font-weight: bold;
  color: $secondary;
  padding-top: 27px;
  text-align: center;
}
.header-grey {
  text-align: center;
  color: $primary
}
.h3 .h5 .h6 {
  color: $additional;
  text-align: center;
}
.footer {
  background-color: $primary;
  margin-top: 55px;
  height: 55px;
  width: 100%;

    .footer-logo {
      display: none;
    }
    .footer-text {
      font-size: 12px;
      text-align: center;
      color: $secondary;
    }
}
// Tablet
@media (min-width: 768px) {
  .container {
    max-width:990px;
  }
}

// Desctop
@media (min-width: 991px) {
  .container {
    max-width: 1200px;
  }
}

//<div class="row">
//<div class="col-sm-4">.col-sm-4</div>
//<div class="col-sm-4">.col-sm-4</div>
//<div class="col-sm-4">.col-sm-4</div>
//</div>